<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>Rango says...</h1>
    <h1>Here is the about page</h1>
    <a href="/rango">Home</a>
    <h3>This tutorial has been put together by Matt</h3>
    <img src="{% static 'images/rango.jpeg' %}" alt="A picture of rango" />
    <img src="{{ MEDIA_URL }}cat.jpg" alt="a picture of a cat">
  </body>
</html>
